body {
    background-color: aquamarine;
}
h1, p, input
{
    font-family: 'Raleway', sans-serif;
}
h1{
    width: 100%;
    text-align: center;
}
#contenido{
    display: flex;
    justify-content: center;
    padding: 30pt;
    width: 250pt;
    border-radius: 15px;
    flex-shrink: 0;
    margin: 0 auto;
    border: 5px solid #f2f2f2;
    align-items: center;
    background-color: #f2f2f2;
}
button{
    display: flex;
    padding: 30pt;
    color: gray;
    font-family: 'Raleway', sans-serif,black;
    margin: 17px;

}
button:hover {
    background-color: #45a049;
}
